.orderContainer {
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}

.goodsView {
  flex-direction: row !important;
  gap: 2rem;
}

.goodInfo {
  align-items: center;
}

.buttonsContainer {
  flex-direction: row !important;
  justify-content: space-between;
}
